
	<div id='wrapper'>
		<h1 style="font-style: bold">Login successful....</h1>
		<h1>Welcome <%= session[:user] %> to our site..!!</h1> 

		<div id="blog_listing">
			<%= render(:partial => "blog_list" ,:controller=>"home") %>
		</div>
	</div>
