<!DOCTYPE html>
<html>
<head>
	<style type="text/css" rel="stylesheet">
		body{height: 640px;width: 100%; background-image: url("assets/wal.jpg");background-size: 100% 100%;text-align: center;background-repeat: no-repeat;}
		#wal{height: 100%; width: 100%}
		#footer {margin-top: 543px;}
	</style>
	<script type="text/javascript">
		$("#hed").html("Welcome to My application");
	</script>
</head>
<body>
	<div id='wrapper'>
		<!--<%= image_tag("wal.jpg", id:'wal', alt: "Edit Entry" ) %>-->
	</div>
</body>
</html>