/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .menu_header{
  background-color: #122D00;
  border-bottom: 2px solid #0A1800;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
  .menu_header a{color: #ddd;
    text-decoration: none;
    display: inline-block;
    margin: 10px 50px;
    font-size: 17px;
  }
.student_details{width: 200px;}
 body{
    position: relative;
    margin: 0;
    background-color: #708661;
   
  }
  	table{
      border-collapse: collapse;
      background-color: #19CBB1,
      color:#0D6C5E;
      border: 1px solid #0D6C5E;
    }
  	tr td:first-of-type{
      text-align: right;
      font-size:20px;
    }
  	td > input,.input_text{
      border-radius: 5px;
      padding: 2px;
      color: #0D6C5E;
      font-size: 18px
    }
    .show_student_details td{padding: 10px;}
  	.input_text{margin: 10px;}
  	.login_table,.new_table{
      margin: 60px auto;
      background-color: #19CBB1;
      color:#004137;
      border-radius: 5px;
      text-align: center;
      background: #179b87;
      padding: 30px
    }
    .login_table{width: 288px;margin: 160px auto;}
  	.green_btn,.edit_btn,.delete_btn{
    background: linear-gradient(green, #2fb02f,green);
		border: 1px solid #0D6C5E;
		padding: 4px 10px;
		color: #fff;
		border-radius: 3px;
		/*margin: 10px;*/
	}

.hed{background-color: #122D00;border-bottom: 2px solid #0A1800;width: 100%;}
/*.header{height:47px;display:block;background-color:#3f3f3f;color:white;box-sizing:border-box;}*/
.fl{float:left;}
.fr{float: right}
.cb{clear: both}
a {text-decoration: none}
.menu_header a:hover {color: #fff;}
.student_details{width: 200px;}

.show_content{margin: 100px auto;width:26%;background:rgb(171, 188, 158);padding:50px;}
.blue_btn{background: linear-gradient(#202096,#5b5bb0,#202096);}
.red_btn{background: linear-gradient(#dd2929,#d86c6c,#dd2929);}