<div>
	<h2>Write mail here..</h2>
	<%= form_tag("/send_mail/#{@user.id}", method: "post") do %>
		<%= text_area_tag :message,"", :class => 'input_text', :required => true %>
		<%= submit_tag 'Send' %>
	<% end %>
</div>