<html>
<head>
	<style type="text/css">
		body{height: 640px;width: 100%; background-image: url("assets/wal.jpg");background-size: 100% 100%;text-align: center;}
	</style>
</head>
<body bgcolor="#ddd">
	<form action="login" method="get">
		<h1>You have successfully logged out...</h1>
		<input type="submit" name="login" value="Login">
	</form>
</body>
</html>