<html>
<body bgcolor="#ddd">
		<form action="show" method="get">
			<%= text_field_tag 'ip', '0.0.0.0', maxlength: 15, size: 20, class: "ip-input" %>
			<input type="submit" class ="login_btn" name="submit" value="Next Page" >

		</form>
</body>
</html>