<div class="main_container">
	<%= render(:partial => "form" ,:controller=>"books") %>
	<br><hr><hr>
	<div id="book_listing">
		<%= render(:partial => "listing" ,:controller=>"books") %>
	</div>
</div>