<!DOCTYPE html>
<html>
<head>
  <title>LoginApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style type="text/css" rel="stylesheet">
	#header,#footer{border:1px solid #000;padding: 0 5px;height: 100px}
	#logo{width: 80px}
	#logo_img{height: 100%;width: 100%;}
	.fl{float: left;}
	.cb{clear: left}

</style>
<body>
	<div id="header">
		<div id = "logo" class="fl">
			<img src="../logo.png" id="logo_img">
		</div>
		<div class="fl">
			<marquee>Login here...</marquee>
		</div>
	</div>
	<div class="cb"></div>

	<%= yield %>

	<div id="footer">
		<p>Copy rights Reserved by Xyz.Pvt.Ltd</p>
	</div>
</body>
</html>
